@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    direction: rtl;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

.shadow-left {
    box-shadow: -5px 0px 13px 6px rgb(0 0 0 / 10%), -1px 11px 2px rgb(0 0 0 / 10%);
}